/* Style for CSS image testing */

body{
	background-image: url('images/space.jpg');
	/* background-size: 100%; */ /* trick 1 */
	background-size: cover; /* Trict 2: ; it covers the document */
	
}

.container{
	width: 800px;
	margin: 0 auto;
	min-height: 1200px;
	background: transparent;
	padding:20px;
	/* display:none; */
}