/* Style for CSS image testing */

body{
	background-image: url('images/body_bg_reverse.jpg');
	 background-repeat:repeat-x; 
	 background-color: #a0cfd9;/* set to color of bottom pixel on the image  */
	/* Follow two declarations use x and y corrdinates or lenghts*/
	/*background-position: 25px 75px;
	background-size: 400px 451px;
	background-attachment: fixed; */
}

.container{
	width: 800px;
	margin: 0 auto;
	background: #fffbcd;
	margin: 10px auto;
	padding:20px;
}