/* Style for CSS image testing */

body{
	background-image: url('images/avacado.png');
	background-repeat: no-repeat;
	/* Follow two declarations use x and y corrdinates or lenghts*/
	background-position: 25px 75px;
	background-size: 400px 451px;
	background-attachment: fixed;
}

.container{
	width: 800px;
	margin: 0 auto;
	background: #fffbcd;
	padding:20px;
}