
body{
  font-size: 16px;
  max-width: 960px;
  width: 100%;
  background-image: url(bg2.jpg);
  background-size: cover;
  margin: 0 auto ;
  min-height: 100px;
  font-family: "Roboto Slab", Arial, Sans-serif;
  font-weight: 400;
  line-height: 150%;
}

h1{
  font-weight: 700;
} 

header{
  min-height: 0px;
  background-image: linear-gradient(180deg, rgba(0,0,0,1),rgba(0,0,0,0.5),rgba(0,0,0,0));
  /* gradient colors in header */
  color:#fff; 
  height: auto;
  padding: 10px 10px 3px 10px;/* for equally spaced logo */
}

footer{
  min-height: 100px;
  background-color: #666;
  color:#fff; 
  height: auto;
  font-size: 0.8em;
  text-align:right;
  line-height: 100px;
  clear:left;
  padding-right: 10px;
}

div{
    box-sizing: border-box;
}

#main{
  float: right;
  width: 75%;
  padding: 10px;
}

div#main p:first-of-type{
  font-weight: 700;
} /* to bold the first paragraph element in div tag */

nav{
  float: left;
  width: 25%;    
  background-color: transparent;
  height:100%;
  margin: 0;     
} /* side bar menu propertirs */

.inner{
  float: left;
  background-color: #cfcfcf;
  width: 100%;
}

nav ul{
  list-style-type: none;
  padding:0;  
} /* no type to list type */

nav ul li a{
  text-decoration: none;
  border: 2px solid #999;
  box-shadow: 2px 3px 5px #999;
  line-height: 35px;
  display: block;
  padding-left:10px;
  margin:0 10px 10px 10px;
  background: #fcc;
  font-family: "Raleway", "Times new Roman", serif;
  font-weight: 700;
}/* link tags properties including no underlined */

nav ul a:link,
nav ul a:visited{
  color: #666;

}/* anchor tags properties with link and visiting content */

nav ul a:hover,
nav ul a:active,
nav ul li.current a{
  background-color: #666;
  color: #fff;
}/* mouseover and active state effects */

legend{
color:#fff;
background: #000;
padding:6px;
font-variant: small-caps;
font-weight: 700;
font-size: 20px; 
border-radius: 5px;
box-shadow: 2px 3px 5px #333;
}/* styling of legend */

#main label:not(.except){
  width: 150px; 
  display: block;
  float: left;
}/* width to the input field excluding the fields including except class */

#main fieldset{
  background: #fff;
  border-radius: 10px;
  border: 2px solid #333;
}/* styling of fieldset */

#main input[type="text"],
#main input[type="email"],
#main input[type="tel"]{
  border-radius: 5px;
  border: 1px solid #000;
  margin: 2px;
  padding:10px;
  width: 200px;
} /* styling of specific input tags */

#main input[type="text"]:hover,
#main input[type="email"]:hover,
#main input[type="tel"]:hover{
  background: #ccf;
  box-shadow: 2px 3px 5px #666; 
  border: 1px solid #ff9c00;
}/* mouseover effect on text input fields */

#main input[type="radio"]{
  line-height: 100px;
} /* line height to radio button */

#main input[type="submit"],
#main input[type="reset"]{
  padding: 4px 6px;
  border: 2px solid #666;
  color: #fff  ;
  background-color: #666;
  border-radius: 5px;
  margin-left: 20px;
  font-family: "Raleway", "Times new Roman", serif;
  font-weight: 400;
} /* action button styling */

#main input[type="submit"]:hover{
  background-color: #030;
  border-color: #030;
  color: #fff;
} /* mouseover effect on submit button */

#main input[type="reset"]:hover{
  background-color: #600;
  border-color: #600;
  color: #fff;
} /* mouseover effect on reset button */

#country{
  border-radius: 5px;
  border: 1px solid #000;
  margin: 2px;
  padding: 10px;
  width: 221px;
} /* country list styling */

#country:hover{
  background: #ccf;
  box-shadow: 2px 3px 5px #666; 
  border: 1px solid #ff9c00;  
} /* country list mouesover effect */

label{
  padding: 10px 0 0 2px;
}/* padding for labeling */

label.field:after {
  content: '*';
  color: #f00;
}/* addition of specific content in label fields */

span#compulsory{
  color: #f00;
}/* color to astrick symbol in text contents */