body {
	background-image: url('body_bg_reverse.jpg');
	background-repeat: repeat-x;
	background-color: #a0cfd9; /* Set to color of bottom pixel in image */
}

.container {
	width: 800px;
	background: wheat;
	margin: 10px auto;
	padding: 20px;
}