/* Styles for Images Testing */

body {
	background-image: url('space_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	width: 800px;
	min-height: 1200px;
	margin: 0 auto;
	background: transparent; /* #f5deb3 */
	padding: 20px;
	/* display: none; */
}