/* Styles for Images Testing */

body {
	background-image: url('avacado.png');
	background-repeat: no-repeat;
	/* Follow two declarations us x and y coordinates or lengths */
	background-position: 25px 75px;
	background-size: 400px 451px;
	background-attachment: fixed;
}

.container {
	width: 800px;
	margin: 0 auto;
	background: wheat; /* #f5deb3 */
	padding: 20px;
}